@model Core.Admin.Models.LoginViewModel
@{
    ViewBag.Title = "تسجيل الدخول";
    Layout = null;
}

<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>

    <title>وزارة الكهرباء والماء والطاقة المتجددة</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/Content/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/assets/fonts/style.css">
    <link rel="stylesheet" href="/Content/assets/css/main.css">
    <link rel="stylesheet" href="/Content/assets/css/main-responsive.css">
    <link rel="stylesheet" href="/Content/assets/plugins/iCheck/skins/all.css">
    <link rel="stylesheet" href="/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
    <link rel="stylesheet" href="/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar-rtl.css">
    <link rel="stylesheet" href="/Content/assets/css/theme_light.css" type="text/css" id="skin_color">
    <link rel="stylesheet" href="/Content/assets/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/Content/assets/css/rtl-version.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/Content/assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login example2 rtl">
    <div id="loadingPanel" style="text-align:center;padding:280px;display:none;" class="MyModalPanel">
        <img src="~/Content/img/loading.gif" width="50">
        <br />
        <br />
        <span style="font-size:20px;color:white;">جاري التحميل .....</span>
    </div>
    <div class="main-login col-sm-4 col-sm-offset-4">
        <div class="logo" style="color: black !important;font-size: 30px;">
            إدارة العقــود والمناقصـات
        </div>
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            <h3 style="text-align: center;float:inherit !important;color:white !important ; font-size:30px;">
                تسجيل الدخول
            </h3>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form", @Id = "frmAddEdit", onsubmit = "ShowLoading();" }))
            {
                @Html.AntiForgeryToken()
                <div class="">
                    @Html.ValidationSummary(true)
                </div>
                <fieldset>
                    <div class="form-group">
                        <span class="input-icon input-icon-right">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @style = "width: 100% !important;", @placeholder = "إسم المستخدم" })
                            @Html.ValidationMessageFor(m => m.UserName)
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="form-group form-actions">
                        <span class="input-icon input-icon-right">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width: 100% !important;", placeholder = "كلمة المرور" })
                            @Html.ValidationMessageFor(m => m.Password)
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-bricky pull-left">
                            تسجيل الدخول <i class="fa fa-arrow-circle-left"></i>
                        </button>

                        <br />
                        <br />
                        <label for="remember" class="checkbox-inline" style="text-align: center;float:inherit !important;color:white !important ; font-size:18px;">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "grey remember" })
                            حفظ بيانات تسجيل الدخول
                        </label>
                        <br />
                        <label for="remember" style="display:none;" class="checkbox-inline">
                            @Html.ActionLink("هل نسيت الرقم السري ؟", "ForgotPassword")
                        </label>
                        <p style="display:none;">
                            @Html.ActionLink("Register", "Account") عضو جديد
                        </p>
                    </div>
                </fieldset>
            }
        </div>
        <!-- end: LOGIN BOX -->
        <!-- start: COPYRIGHT -->
        <div class="copyright" style="color:black !important ; font-size:15px;">
            @DateTime.Now.Year &copy; جميع الحقوق محفوظة
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="/Content/assets/plugins/respond.min.js"></script>
    <script src="/Content/assets/plugins/excanvas.min.js"></script>
    <script type="text/javascript" src="/Content/assets/plugins/jQuery-lib/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->

    <script src="/Content/assets/plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="/Content/assets/plugins/blockUI/jquery.blockUI.js"></script>
    <script src="/Content/assets/plugins/iCheck/jquery.icheck.min.js"></script>
    <script src="/Content/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <script src="/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar-rtl.js"></script>
    <script src="/Content/assets/plugins/less/less-1.5.0.min.js"></script>
    <script src="/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script src="/Content/assets/js/main.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/Content/assets/js/login.js"></script>
    <script src="/Content/AlerMSG/lib/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="/Content/AlerMSG/lib/sweet-alert.css" />

    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Login.init();
        });
        function ShowLoading() {
            //   var required = $("#LineValuesList").data("kendoMultiSelect");
            var $form1 = $('#frmAddEdit');
            if ($form1.valid()) {
                $("#loadingPanel").show();
                return true;
            }
        }
    </script>
    @{
        if (TempData["Success"] != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    swal("", '@TempData["Success"]', "success");
                });
            </script>
            TempData["Success"] = null;
        }
    }
    @{
        if (TempData["Error"] != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    swal("", '@TempData["Error"]', "error");
                });
            </script>
            TempData["Error"] = null;
        }
    }
</body>
<!-- end: BODY -->
</html>
