@model Core.Admin.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "تغيير الرقم السري";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="@Url.Action("Index", "Home")">
                    الرئيسية
                </a>
            </li>
            <li class="active">
                تغيير الرقم السري
            </li>

        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-bricky">
                <li class="active">
                    <a href="#GeneralInfo" data-toggle="tab">
                        <i class="green fa fa-info"></i> البيانات الأساسية
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane in active" id="GeneralInfo">
                    <div class="panel panel-default">
                        @if (Model.Id == null)
                        {
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                تغيير الرقم السري
                            </div>
                        }
                        else
                        {
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                تغيير الرقم السري   : <span style="color:red;">@Model.UserName</span>
                            </div>
                        }
                        <div class="panel-body">
                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @Id = "frmAddEdit", @role = "form", onsubmit = "ShowLoading();" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => Model.Id)
                                <div class="row">
                                    <div class="col-md-8">
                                        @Html.ValidationSummary()
                                    </div>
                                </div>
                                <div class="row">
                                    @if (Model.Id == null)
                                    {
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    كلمة المرور القديمة <span class="symbol required"></span>
                                                </label>
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "كلمة المرور القديمة" })
                                                @Html.ValidationMessageFor(m => m.OldPassword)
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">
                                                كلمة المرور الجديدة <span class="symbol required"></span>
                                            </label>
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "كلمة المرور الجديدة" })
                                            @Html.ValidationMessageFor(m => m.NewPassword)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">
                                                تأكيد كلمة المرور <span class="symbol required"></span>
                                            </label>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "تأكيد كلمة المرور" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-yellow btn-block" type="submit">
                                            حفظ <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
